<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="modal-name" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title mr-3" id="modal-name">Modal title</h5>
              {% if user_id %}
                <img id="dislike-btn" user="{{ user_id }}" src="/static/images/dislike-thumb-light.png"/>
                <img class="ml-2" id="like-btn" src="/static/images/thumbs-up-light.png"/>
              {% endif %}
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body d-flex">
                <div id="modal-left" class="w-50 float-left">
                    <p id="modal-description" class="overflow-auto text-small"></p>    
                </div>
                <div id="modal-right" class="w-50 float-right ml-3">
                    <div id="modal-img"></div>
                    <b id="modal-medical-label">Medical conditions targeted:</b>
                    <p id="modal-medical"></p>
                    <b id="modal-desired-label">Desired Effects:</b>
                    <p id="modal-desired"></p>
                    <b id="modal-undesired-label">Negative Effects:</b>
                    <p id="modal-undesired"></p>
                    <b id="modal-flavors-label">Available Flavors:</b>
                    <p id="modal-flavors"></p>
                    <b id="modal-aromas-label">Aromas:</b>
                    <p id="modal-aromas"></p>
                </div>
        
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>